%section#log
  .page-header
    %h1
      Capistrano Deploy
      %small
        = "User #{@user.first.capitalize}" unless @user.nil?
        = "at #{@last_modified.strftime('%Y-%m-%d %H:%M:%S')}"
    %a.btn{href: "/logs"} See all Logfiles
  .row-fluid
    .span12
      %pre= @code
